/*wrto 14.00
czwart 14.00*/


body{
	margin: 0;
	background-color: #ffffff;
	font-family: Proxima Nova, sans-serif;
}

#pirometry{
    margin: auto;
    width: 1280px;
}

header{
    padding: 0px;
    margin: 0px;
    background: #f9f9f9;
    height: 90px;
    text-align: center;
}

header > div{
    width: 1110px;
    display: inline-block;
}

footer{
    margin: 0 0 0 0;
    background: #f6f5f1;
    height: 225px;
}
.center{
	padding: 0px 85px 0px 85px;
    margin: 0 0 0 0;
}

#menu_top{
    display: inline-block;
    display: block;
    width: 100%;
    height: 90px;
    text-decoration: none;
    margin-top: 0;
}

#menu_down{
    display: block;
    width: 100%;
    height: 20px;
    text-decoration: none;
}

nav {
    float: left;
}

nav > ul {
    text-decoration: none;
    list-style: none outside none;
    margin:0;
}

#bok{
    /*wyrzuciłem display bo psuł wyśiwetlanie pod menu*/
    text-decoration: none;
    list-style: none;
    margin: -100px 0px 0px 325px;
    color: #949494;
    width: 300px;
    display: inline-block;

}

nav > ul > li{
    float: left;
}

nav > ul > li > a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 25px 41px 25px;
    color: #949494;
	font-size:16px;
	font-family: proxima-nova, sans-serif;
}

/*nav li div { /*zamieniłem ul na div ponieważ teraz mamy diva który musimy ukryć anie każdy z ul osobno */
/*wyrzuciłem display bo psuł wyśiwetlanie pod menu*/
/*    position: absolute;
    left: -999em;
    font-size: 12px;
    background: #eeeeee;
    border-radius: 0px;
    width: 650px;
    height: 300px;
    color: #949494;
	font-size:12px;
	font-family: proxima-nova, sans-serif;
	font-weight: semibold;
    text-decoration: none;
	border-radius: 5px;
	letter-spacing: 0,75px;
}*/

nav .submenu ul{
    padding: 0 90px 0 0;
    margin: 0;
    font-size: 12px;
    float: left;
}

nav .submenu strong{
    text-transform: uppercase;
}

/*naprawa dolne menu przesuwająć je ponad pasek menu*/
#pirometry_d nav li > div {
    margin-top: -350px;
}

nav li:hover div {/*zamieniłem ul na div ponieważ teraz mamy diva który musimy ukryć anie każdy z ul osobno */
    left: auto;
}

nav li ul li{
    text-decoration: none;
    margin: 5px 0px 0 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

nav li ul li:hover{
    color: #949494;
    /*usunąłę text-show bo nie ma czegoś takiego*/
}

/* unvisited link */
a:link {
    color: #949494;
	 text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #6BBEAB;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #0000FF;
    text-decoration: none;
}
/*style artykułów*/

#logo {
    width: 200px;
    height: 60px;
    border: 0px none;
    background-image: url('images/logo.png');
    padding: 0px;
    margin: 15px 0px 0px;
    float: left;
    display: inline-block;
}

.hr_gor{
    height: 1px;
    display: block;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 0; /*zmieniłem margines*/
    padding: 0;
}

.wyszukiwarka {
    margin: 30px 0 0 0;
    float: right;
    display: inline-block;
}

#lupa {
    background: url("images/search.png") no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 0 35px 0;
}

.wyszukiwarka .submit {
    width: 25px;
    height: 25px;
    border: 0px none;
}

.submenu {
    padding: 20px;
    background: #eeeeee;
    border-radius: 5px;
    width: 500px;
    position: absolute;
    left: -999em;
}

.submenu strong {
    margin: 5px 0 0 0;
    color: orange;
}

.submenu div{
    display: none;
}

.wyszukiwarka:hover .submenu{
    left: auto;
    margin-left: -470px;
}

/*wcześniej to był wy1 i wy2, zamiast dodwania klasy można zrobić to tak*/
.submenu input[type=text]{
    width: 330px;
    height: 45px;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #b0b0b0;
    padding: 0;
    margin: 0;
    text-align: center;
}
.submenu input[type=submit]{
    width: 150px;
    height: 45px;
    background: #949494;
    border-style: solid;
    border-width:1px;
    border-color: #b0b0b0;
    border-radius: 5px;
    text-align: center;
    color:white;
    font-size: 16px;
    display: inline-block; /*inline-block sprawia że obiekt jest nadal "blokiem" ale wyświetal się w tej samej linii co element go poprzedzająćy*/
}
/*.wy1{
    width: 350px;
    height:35px;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    border-color: #b0b0b0;
    padding: 0;
    margin:0;
    text-align: center;
}

.wy2{
    width: 150px;
    height:40px;
    background: #949494;
    border-style: solid;
    border-width:1px;
    border-color: #b0b0b0;
    border-radius: 5px;
    text-align: center;
    color:white;
    font-size: 16px;
    margin: 0px 0 0 82px;
}*/

.wyszukiwarka form:hover .submenu > h1{
    text-align: left;
    color: #949494;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
}
.wyszukiwarka form:hover .submenu .hr_wy {
    height: 1px;
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.trojkat {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #ec4000 transparent transparent transparent;
    margin: -30px 0 0 250px ;
}


.wyszukiwarka .submenu > h2{
    text-align: left;
    color: #949494;
    font-family: inherit;
    font-weight: bold;
    font-size: 10px;
    max-width:100px;
}

/*.wartosc1{ zmieniam na*/
.submenu div input[type=text]{
    width: 250px;
    height:40px;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    border-color: #b0b0b0;
    text-align: center;
    display: block;
}

.submenu label{
    text-align: left;
    color: #949494;
    font-family: inherit;
    font-weight: bold;
    font-size: 10px;
    max-width:100px;
}

.przycisk2 {
    background-color: transparent;
    width: 125px;
    height:40px;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    border-color: #6BBEAB;
    padding: 0;
    color: black;
    text-align: center;
    color: #6BBEAB;
    font-family: inherit;
    font-weight: bold;
}


#center > h3 {
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 34px;
    color: #595959;
}


#center > h5 {
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 24px;
}



/*#pirometrypl > h1 {
    text-align: left;
    font-size: 24px;
    color: #595959;
}

#pirometrypl > p {
    font-size: 14px;
    width: 100%;
    text-align: left;
    max-width:400px;
    color: #595959;
}

#pirometrypl > a {
    font-size: 14px;
    color: #64c6af;
}*/

#pirometr{
    width: 400px;
    margin: -90px 0 0 800px ;
}

#zdjecies{
    background-image: url('images/baner.jpg');
	margin: 0 0 0 0;
    height: 513px;
    width: 1280px;
	  font-weight: 100;
}
#zdjecies> p{
    color: #949494;
	font-size:30px;
	font-family: proxima-nova, sans-serif;
  font-weight: 100;
}


.produkty{
    width: 100%;
    background: #f6f5f1;
    height: 800px;
    text-align: right;
}

.baner_a{
    background-color: #ec4000;
    max-width: 350px;
    height: 430px
}

.baner_a >h1 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    max-width: 400px;
}

.baner_a > p {
    font-size: 14px;
    text-align: center;
    max-width: 400px;
    color: #ffffff;
}

.baner_b {
    margin: 0 0 0 930px;
    display: inline-block;
    text-align: center;
    background-color: #dff5f3;
    max-width: 350px;
    height: 430px;

}

.baner_b >h1 {
    text-align: center;
    font-size: 24px;
    color: #595959;
    max-width:400px;
}

.baner_b > p {
    font-size: 14px;
    text-align: center;
    max-width: 400px;
    color: #595959;
}

 /*produkty polecane*/
  #produkty_polecane >h1{
    font-size: 18px;
    text-align: center;
    color: #595959;
  }

  #piroduktypolecane_img{
    width:60px;
    height: 60px;
  }

 #produkty_polecane > div:hover{
    position: absolute;
    width: 16px;
    height: 18px;
}

 /*produkty nowe*/
  #produkty_nowe >h1{
    font-size: 18px;
    text-align: center;
    color: #595959;
  }
    #piroduktypolecane_img{
    width:60px;
    height: 60px;
  }


 /*newsletter */
#newsletter > strong {
    font-size: 18px;
    text-align: center;
    width: 100%;
    display: block;
    padding-top:30;
}

#newsletter > p {
    font-size: 16px;
    text-align: center;
}

#newsletter > form {
    font-size: 16px;
    text-align: center;
}

.przycisk_wyslij {
    background-image: url('images/przycisk_wyslij.png');
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: 0;
    padding: 0;
    margin: 0;
    color: white;
}

.pole_wyslij {
    background-image: url('images/pole_wyslij.png');
    background-color: transparent;
    width: 400px;
    height: 50px;
    border: 0;
    padding: 0;
    margin:0;
    text-align: center;
    color: #595959;
}

#piroemtry_d{
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0px 0 0 200px ;
 }

.logo2{}

.hr_dol {
    margin:0;
	color:#ecebe9;
}

nav {
    display: inline-block; /*ustawiam nav żeby wyświetlało się wtej samej lini w menu*/
    margin: 25px 0 0 0;
}

/*produkty*/

.produkty_podstrona{
}
.prostokat1{
	text-decoration: none;
	display: inline-block;
	width: 354px;
    height: 110px;
	background: #ec4000;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #ec4000;
	margin: 0 5px 10px 5px;
    padding: 70px 0 0 0;
	text-align: center;
	color: white;
	font-family: inherit;
	font-weight: bold;
	}

.produkty_podstrona> a{
	color:#ffffff;
}

.produkty_podstrona a:hover {
	background-color: white;
	border-radius: 5px;
	border-width: 1px;
	color:#ec4000;
 }

.prostokat a:link {
	background-color: white;
}

.prostokat a:active {
	background-color: white;
	color:#ec4000;
}
/*producenci*/
.prostokat2{
	text-decoration: none;
	display: inline-block;
	width: 260px;
    height: 90px;
	background: #6BBEAB;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #6BBEAB;
	margin: 0 5px 10px 5px;
    padding:50px 0 0 0;
	text-align: center;
	color: white;
	font-family: inherit;
	font-weight: bold;
	}

.produkty_podstrona> a{
	color:#ffffff;
}

.produkty_podstrona a:hover {
	background-color: white;
	border-radius: 5px;
	border-width: 1px;
	color:#6BBEAB;
 }

.prostokat2 a:link {
	background-color: white;
}

.prostokat2 a:active {
	background-color: white;
	color:#6BBEAB;
}
/*kontakt*/
.centerk{
	padding: 0px 85px 0px 85px;
}

.wy4{
    width: 390px;
    height:120px;
    background:#f6f5f1;
    border-radius: 5px;
    border-style: solid;
    border-color: #f6f5f1;
    text-align: center;
}

.wy3{
    width: 235px;
    height:25px;
    background:#f6f5f1;
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    border-color: #f6f5f1;
    text-align: center;

}

#iin> h3{
    width: 140px;
    height:40px;
	display: inline-block;
	margin: 80px 5px 0 0px ;
	text-align: right;

}

#tel> h3{
    width: 140px;
    height:40px;
	display: inline-block;
	margin: 5px 5px 0 0px ;
	text-align: right;
}

#email> h3{
    width: 140px;
    height:40px;
	display: inline-block;
    margin: 5px 5px 0 0px ;
	text-align: right;
}

#tresc{
    margin: -130px 0px 0 550px ;
}

#tresc> h3{
    display: inline-block;
    vertical-align: 48px;
    margin: -40px 0px 0 0px ;
}

.wy5 {
    background-color: transparent;
    width: 245px;
    height:40px;
    background:#ec4000;
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    border-color: #ec4000;
    padding: 0;
    color: black;
    text-align: center;
    color: #ffffff;
    font-family: inherit;
    font-weight: bold;
	margin: 40px 0px 40 50px ;
}

#tresc .wy5{
    margin: 10px 20px 20px 207px ;
}

#telefond{
    margin: -130px 0px 0 550px ;
}

#telefond #tel h1{
    display: inline-block;

}

#telefond #tel h2{
	display: inline-block;
}

#telefond #email h3{
    display: inline-block;
		color: #ec4000;
}
#telefond #email h2{
    display: inline-block;
}


/*o nas*/

.centerk > p{
text-indent: 40px;
}
